@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(../../img/fondo-admin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    width: 400px;
    padding: 50px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 1rem;
}

.titulo1{
    text-align: center;
    font-size: 40px;
    color:rgb(238, 191, 0);
    font-family: 'Anton' sans-serif;
    -webkit-text-stroke: 0.6px white;
    font-weight: 700;
}

.boton-cambiar{
    margin-top: 30px;
    margin-left: 35%;
}

.ingresar{
    text-decoration: underline;
    color: white;
}

.ingresar:hover{
    text-decoration: none;
    color:rgb(238, 191, 0);
}

.btn-validar{
    margin-top: 30px;
    margin-left: 40%;
}

.documento{
    margin-left: 20%;
}

.contra{
    margin-left: 20%;
}

.btn-atras{
    margin-left: -20px;
    margin-top: -20px;
}

input{
    border-radius: 1rem;
}

.contra{
    width: 200px;
    text-align: center;
    margin-left: 15%;
}